.manage-column.column-logo.column-primary{
    width: 150px;
} 
.manage-column.column-description{
    width: 300px;
}
.manage-column.column-titre{
    width: 200px;
}
.logo.column-logo img{
    width: 120px;
    padding: 5px;
}

.column-visible .vis{
    padding: 30px;
}

.column-visible .bullet-no{
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 10px;
}
.column-visible .bullet-{
    background-color: green;
    width: 10px;
    height: 10px;
    border-radius: 10px;
}
